{% extends 'index.html' %}
{% load static %}
{% block body %}


	<!-- about  -->
<section class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h3 class="w3ls-title text-uppercase text-bl font-weight-bold">About Us</h3>
			</div><hr/>
			<div class="row">
				<div class="col-lg-6 agileits_works-grid">
					<div class="wthree-bottom">
						<h6 class="subheading-w3ls text-uppercase text-bl mb-4">MLRITM CSE-A BATCH-A20 </h6>
						<p>177Y1A0544--N.SATISH</p>
                                                <p>177Y1A0550--G.SHRUTHI</p>
					</div>
				</div>
				<div class="col-lg-6 agileits_works-grid1 mt-lg-0 mt-sm-5 mt-4">
					<img src="images/blog1.jpg" alt="" class="img-fluid" />
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->

	<!-- banner bottom -->
	<div class="section-2">
		<div class="container-fluid">
			<div class="row slide">
				<div class="col-xl-3">

				</div>
				<div class="col-xl-6 triple-sec p-5">
					<h5 class="text-wh font-weight-bold">Opening Hours</h5>
					<ul class="list-unstyled text-wh mt-4">
						<li class="clearfix py-3">
							<span class="float-left"> Monday - Friday </span>
							<div class="value float-right"> 9.00 - 20.00 </div>
						</li>
						<li class="clearfix border-top border-bottom py-3">
							<span class="float-left"> Saturday </span>
							<div class="value float-right"> 10.00 - 16.00 </div>
						</li>
						<li class="clearfix py-3">
							<span class="float-left"> Sunday </span>
							<div class="value float-right"> 9.30 - 18.00 </div>
						</li>
					</ul>
				</div>
				<div class="col-xl-3">
				</div>
			</div>
		</div>
	</div>
	<!-- //banner bottom -->
	<!-- doctor form -->

	<!-- //doctor form -->

{% endblock  %}